@theme {
  --color-accent: #1cb0f6;
  --color-accent-lip: #1899d6;
  --color-beetle: #ce82ff;
  --color-canvas: #ffffff;
  --color-error: #ff4b4b;
  --color-foreground: #4b4b4b;
  --color-fox: #ff9600;
  --color-mask: #89e219;
  --color-on-primary: #ffffff;
  --color-primary: #58cc02;
  --color-primary-lip: #58a700;
  --color-warning: #ffc800;
  --font-display: Feather Bold;
  --font-sans: din-round;
  --leading-body: 1.5;
  --text-body: 17px;
  --font-weight-body: 400;
  --leading-button: 1.2;
  --text-button: 15px;
  --font-weight-button: 700;
  --leading-display-hero: 1.2;
  --text-display-hero: 40px;
  --tracking-display-hero: -0.5;
  --font-weight-display-hero: 700;
  --leading-title: 1.25;
  --text-title: 24px;
  --font-weight-title: 700;
  --spacing-base: 16px;
  --spacing-lg: 24px;
  --spacing-md: 12px;
  --spacing-sm: 8px;
  --spacing-xl: 32px;
  --spacing-xs: 4px;
  --spacing-xxl: 48px;
  --radius-full: 9999px;
  --radius-lg: 16px;
  --radius-md: 12px;
  --radius-sm: 8px;
  --shadow-button-3d: 0 4px 0 0 #58a700;
  --shadow-card: 0 2px 0 0 rgba(0,0,0,0.1);
}